<h1>

  Welcome to Employee Management System

</h1>

<p>Functionalities of the App</p>
<ol>
  <li>List all employees</li>
  <li>View details of an employee</li>
  <li>Insert an employee</li>
  <li>Update an employee</li>
  <li>Deactivate an employee</li>
</ol>