

<nav class="navbar navbar-expand navbar-light bg-light text-dark">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="nav nav-pills">
      <li>
        <a class="nav-link" [routerLink]="['/welcome']" >Home</a>     
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/employees']" >Employee List</a>
      </li>
    </ul>
  </nav>
  
  <div class="container">
  
    <!-- <ems-welcome></ems-welcome> -->
    <div class='spacerDiv-verticle'></div>
    
    <router-outlet></router-outlet>
  
  </div>
  
  