/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


.spacerDiv-verticle
{
    padding-top: 1%; 
    padding-bottom: 1%; 
}

.formRequiredDiv 
{
    text-align: left; 
    color: red; 
    padding:0; 
    max-width: 0;
}

.formButton {
    width: 6.5vw;
}

.alignRight {
    text-align: right;
}

.radioTopPadder {
    padding-top: 0.4em;
}

.flexRowAlignment {
    display: flex; 
    flex-direction: row;
}

.redText {
    color:red;
}

.selectOptionTestCenter {
    text-align-last: center;
}

/* from validation */
.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}